.title Abilities
.character-abilities
  - Ability::TYPES.each do |ability_type|
    .ability-type
      .ability-type-name= ability_type
      - character.abilities.of_type(ability_type).each do |ability|
        .ability-name= ability.name
