%p
  %b Node:
  %span.node-attrs#id 1
%p
  %b X:
  %span.node-attrs#x 858
%p
  %b Y:
  %span.node-attrs#y 914
%p
  %b Attribute:
  %span.node-attrs#attribute
%p
  %b Value:
  %span.node-attrs#value
%p
  %b Ability:
  %span.node-attrs#ability
%p
  %b Lock level:
  %span.node-attrs#lock-level
%p
  %b Activated by:
.char-badges
  - @characters.each do |character|
    %li{ data: { name: character.name, color: character.color } }= character.name
