#sphere-grid.container
#info-panel
  #character-tabs
    %ul
      - @characters.each do |character|
        %li.character-name{data: { name: character.name, color: character.color } }
          = link_to character.name, "#character-#{character.id}"
    - @characters.each do |character|
      %div.character-info{id: "character-#{character.id}"}
        = render partial: 'character_info', locals: { character: character }
