/*
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */

body{
  background: black;
  #sphere-grid.container{
    background: lightgrey;
    margin: 0 auto;
    width: 1732px;
    height: 2304px;
  }
  #info-panel{
    border-radius: 6px;
    border-top: 3px solid grey;
    bottom: 0px;
    font-size: 12px;
    height: 210px;
    position: fixed;
    width: 100%;
    li.character-name a{
      padding-top: 0.25em;
      padding-bottom: 0.25em;
    }
    .character-info{
      background: #c8d3da;
      display: flex;
      .panel{
        background: white;
        border: 2px solid grey;
        border-radius: 10px;
        margin: 0 1em 0 0;
        .title{
          background: lightgrey;
          border-top-left-radius: inherit;
          border-top-right-radius: inherit;
          text-align: center;
        }
      }
    }
  }
}
